<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "XHTML1-s.dtd" >
<html xmlns="http://www.w3.org/TR/1999/REC-html-in-xml" xml:lang="en" lang="en" >
  <head>
    <title>Rails + jQuery Sortable Example</title>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'application' %>
    <%= stylesheet_link_tag 'site' %>
  </head>
  <body>
    <div id="wrapper">
      <div id="progress">
        <%= image_tag "ajax-loader.gif" %> <div>Updating...</div>
      </div>
      <%= yield %>
    </div>

    <% javascript_tag do %>
      $(function() {  
        $.ajaxSetup({data: {authenticity_token: '<%= form_authenticity_token -%>'}});
      });
    <% end %>
  </body>
</html>
